html {
    /*font-size: 10px; /*px signifie 'pixels' : la taille de base pour la police est désormais 10 pixels de haut */
    /*font-family: 'Open Sans', sans-serif; /*cela devrait être le reste du résultat obtenu à partir de Google fonts */
    font-family: 'Dancing Script', cursive;
    background-color: #8dd3cf;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 3px 3px 10px #8dd3cf;
}

p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

body {
    margin : 0;
    padding : 0 20px 20px 20px;

}
img {
    display: block;
    margin: 0 auto;

}